.div1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 265px;
  margin: 0.5rem;
  background-color: black;
  text-align: center;
}

.div2{
  display: block;
  color: white;
}

.div3{
  display: block;
  color: white;
}
